html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.div {
    display: block;
}

.header {
    display: inline;
}

a {
    text-decoration: none;
    color: black;
    padding-left: 15px;
}

a:hover {
    text-decoration: underline;
    color: grey;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

#navbar {
    width: 100%;
}

#top-left-header {
    position: relative;
    left: 15px;
}

#top-right-header {
    position: relative;
    right: 15px;
}

#navbar {
    display: flex;
    justify-content: space-between;
}

#about {
    display: inline;
}

#store {
    display: inline;
}

#gmail {
    display: inline;
}

#images {
    display: inline;
}

#body {
    width: 100%;
    height: 100%;
}

#google-main {
    display: flex;
    padding-top: 110px;
    justify-content: center;
    margin-bottom: 70px;            
}

#form-search form{
    display: flex;
    justify-content: center;
    width: 100%;
}

#form-search input{
    width: 500px;
    height: 30px;
    padding: 2px;
    margin-bottom: 15px;
    border-radius: 30px;
    border-style: solid;
    padding-left: 35px;
    background: url(search.svg) no-repeat scroll 5px 5px;
}

#form-search input:hover{
    
}

#button-containers {
    display: flex;
    justify-content: center;
}

.search-button {
    padding: 5px;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgrey;
}

#lower-left {
    display: flex;
}

#lower-right {
    display: flex;
}



