html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.div {
    display: block;
}

.header {
    display: inline;
}

a {
    padding-left: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

#navbar {
    width: 100%;
}

#top-left-header {
    position: relative;
    left: 15px;
}

#top-right-header {
    position: relative;
    right: 15px;
}

#navbar {
    display: flex;
    justify-content: space-between;
}

#about {
    display: inline;
}

#store {
    display: inline;
}

#gmail {
    display: inline;
}

#images {
    display: inline;
}

#body {
    width: 100%;
    height: 100%;
}

#google-main {
    display: flex;
    padding-top: 110px;
    justify-content: center;
    margin-bottom: 70px;
}

#form-search {
    display: flex;
    justify-content: center;
}

#button-containers {
    display: flex;
    justify-content: center;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
}

#lower-left {
    display: flex;
}

#lower-right {
    display: flex;
}



